@use "../abstracts/index" as *

//----------------------------------
//              INPUTS             -
//----------------------------------

input
	&.input
		padding: .5rem 1rem
		border-radius: 1rem
		border: 1px solid $black
		margin: 1rem
		-webkit-appearance: none
		font-family: "OCR A Std", sans-serif

	&.width--s, &.small
		width: 7rem
	&.center
		text-align: center