@use "../abstracts/index" as *

//----------------------------------
//      Profile NFT Styling        -
//----------------------------------

.profilepic
	background: #eee
	border-radius: 50%
	height: 200px
	width: 200px
	background-size:  contain
	margin: auto
	border: 1px solid #ddd
	transition:  opacity 0.2s ease
	display: inline-block
	overflow: hidden
	cursor: pointer
	object-fit: cover

	&:hover
		text-decoration: none
		opacity: 0.7

	&.noHover
		&:hover
			text-decoration: none
			opacity: 1

	@include media-below(phone)
		max-width: 70vw
		aspect-ratio: 1 / 1
	@media screen and (max-width: 300px)
		width: auto
		height: auto


.ethname
	text-overflow: ellipsis
	max-width: 300px
	white-space: nowrap
	overflow: hidden
	position: relative
	display: block

	&:hover
		opacity: 0.7 !important

	@media screen and (max-width: 400px)
		max-width: 70vw

.gm

	h3, a
		text-overflow: ellipsis
		max-width: 400px
		white-space: nowrap
		overflow: hidden

		@include media-below(phone)
			max-width: calc(100vw - 5rem)



.profilepicselect_nfts
	overflow-y: scroll
	overflow-x: hidden
	position: relative
	height: 80%
	width: 100%

	&::-webkit-scrollbar
		width: 10px

	&::-webkit-scrollbar-track
		background: #f1f1f1

	&::-webkit-scrollbar-thumb
		background: #888
	&::-webkit-scrollbar-thumb:hover
		background: #555

	@include media-below(smallPhone)
		height: 75%

	.content
		padding: 3rem 1.5rem
		justify-content: flex-start
		grid-gap: 4rem
		gap: 4rem
		width: 100%

		.pfp__nft
			max-width: 200px
			position: relative

			.pfp__nft__image
				transition:  box-shadow 0.4s ease, filter 0.4s ease
				height: 10rem
				width: 10rem
				border-radius: 5rem
				object-fit: cover

				&.hover
					&:hover, &:focus-visible, &.active
						box-shadow:  0px 0px 25px -7px rgba(0,0,0,1)
						cursor: pointer
						filter: brightness(1.5)

				&.active
					border: 2px solid black

			.pfp__nft__title, .pfp__nft__permalink, .pfp__nft__permalink span
				max-width: 150px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				padding-top: .2rem
				font-size: .8rem
				position: relative
				display: block