@use "../abstracts/index" as *

//----------------------------------
//               FAQ               -
//----------------------------------

.root-user
    display: flex
    justify-content: center
    align-items: center

.user-container
    
    margin: 0 auto

    p
        padding-top: 2rem
